body {
    overflow-x: hidden;
}

.logo-txt {
    font-weight: bold;
}

.section-1-div {
    background-image: url(images/cover_1.jpg);
    min-height: 90vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;

}

.overlay {
    background-image: linear-gradient(rgba(17, 7, 254, 0.7), rgba(0, 224, 254, 0.7));
    z-index: 1;
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
}

.first-txt {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 50px;
}

.first-subtxt {
    font-weight: bold;
    font-size: 15px;
    text-align: justify;
}

.btn {
    background: linear-gradient(to right, #00e0fe, #1107fe);
    border-radius: 50px !important;
    margin-top: 152px !important;
    border: none !important;
    width: 140px;
    height: 55px;
    color: white !important;
    font-weight: bold !important;
    font-size: 17px !important;
}

.our-service {
    font-weight: bold;
}

.section-2-p {
    font-weight: 500 !important;
}

.line {
    background: linear-gradient(to right, #00e0fe, #1107fe) !important;
    height: 5px !important;
    width: 70px !important;
    border: none;
    opacity: 7;
    display: flex;
    position: relative;
    left: 50rem;

}

.first-h1 {
    font-weight: bold;
    font-size: 20px;
}

.sec-bg {
    background-image: url(images/cover_3.jpg);
    min-height: 40vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.secoverlay {
    background-image: linear-gradient(rgba(17, 7, 254, 0.7), rgba(0, 224, 254, 0.7));
    z-index: 1;
    min-height: 40vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
}

.sec-txt {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
    padding-top: 90px;

}

.sec-subtxt {
    font-weight: bold;
    font-size: 15px;
    margin-top: 22px;
    text-align: justify;
}

.btnz {
    background: linear-gradient(to right, #00e0fe, #1107fe);
    border-radius: 100px !important;
    border: none !important;
    width: 73px;
    position: relative;
    left: 98vh !important;
    height: 70px;
    color: white !important;
    font-weight: bold !important;


}

.third-subtxt {
    font-weight: bold;
    font-size: 15px;
    text-align: justify;

}

.icon {

    color: #1107fe;
    margin-left: 22vh;
}

.third-bg {
    background-image: url(images/cover_2.jpg);
    min-height: 70vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.third-overlay {
    background-image: linear-gradient(rgba(17, 7, 254, 0.7), rgba(0, 224, 254, 0.7));
    z-index: 1;
    min-height: 70vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
}

.sec-icon {
    margin-left: 27px;
}

.third-bg h1 {
    font-weight: bold;
}

.third-bg p {
    font-weight: bold;
    font-size: 14px;
}

.txt h1 {
    font-weight: bold;
}

.text a {
    font-weight: bold;
    font-size: 15px;
    color: black;
    text-decoration: none;
}

.text a:hover {
    color: #073dff;
}

.text h1 {
    font-weight: bold;
    font-size: 23px;
}

.text h1:hover {
    color: #073dff;
    ;
}

.fourth-bg {
    background-image: url(images/cover_3.jpg);
    min-height: 40vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.input-box {
    display: flex;
    align-items: center;
    justify-content: center;

}

.input {
    background-color: rgba(95, 158, 160, 0) !important;
    border: white !important;
    border-style: solid !important;
    height: 75px;
    width: 30%;
    padding-left: 20px;
    border-width: 1px !important;
    color: white !important;

}

.sub-box {
    width: 95vh !important;
}

textarea {
    width: 95vh !important;
    height: 150px;
    background-color: rgba(95, 158, 160, 0) !important;
    border: white !important;
    border-style: solid !important;
    color: white;
    padding-left: 20px;
    border-width: 1px !important;
    padding-top: 10px;
}

.msg-btn {
    background: linear-gradient(to right, #00e0fe, #1107fe);
    border-radius: 50px !important;
    margin-top: 190px !important;
    border: none !important;
    width: 140px;
    height: 55px;
    color: white !important;
    font-weight: bold !important;
    font-size: 17px !important;
    margin-top: 60px !important;
    position: relative;
    left: 72vh !important;

}

.msg-btn:hover {
    transform: translateY(-5px);
}

.bg {
    background: linear-gradient(to right, #00e0fe, #1107fe);
    height: 12vh;
    width: 100%;
}

.footer-txt {
    padding-top: 34px;
}

.icon-div {
    float: right;
    position: relative;
    bottom: 32px;
    color: white;
}

.footer-icon-1:hover {
    color: #00e0fe;
}

.footer-icon-2:hover {
    color: #00e0fe;
}

.footer-icon-3:hover {
    color: #00e0fe;
}

.footer-icon-4:hover {
    color: #00e0fe;
}

.bg a {
    color: white !important;
}

.review-h1 {
    font-weight: bold;
    font-size: 17px;
    font-weight: bold;
    position: relative;
    top: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    height: 20rem;
    width: 27rem;
}

.p-line{
    position: relative;
    top: 11px !important;
    background: linear-gradient(to right, #00e0fe, #1107fe) !important;
    height: 5px !important;
    width: 70px !important;
    border: none;
    opacity: 7;
    display: flex;
    position: relative;
    left: 40rem;
    position: relative;
    left: 51rem;
    height: 4px !important;
    width: 71px !important;
     }


@media(max-width:991px) {
    .first-txt {
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: 25px;
        width: 100%;
        margin-top: -7px;

    }

    .first-subtxt {
        font-size: 9px;
        padding-bottom: 78px;
        width: 100%;

    }

    .btn {
        margin-top: 88px !important;
        height: 40px;
        width: 116px;
        font-size: 16px !important;
    }

    p {
        width: 100%;
        font-size: 8px;
    }

    .sec-subtxt {
        font-size: 8px !important;
    }

    .third-subtxt {
        font-size: 13px;
    }

    .input {
        width: 49%;
    }

    .card {
        height: 20rem;
        width: 20rem;
    }

    .sec-txt {
        position: relative;
        top: 30px;

    }
    .btnz{
        height: 48px;
        width: 48px;
        margin-left: -78vh !important;
        position: relative;
        bottom: 15px;
        position: relative;
        bottom: 20px;
    }
    .third-subtxt{
        font-size: 7px !important;
    }
    .line{
        position: relative;
        left: 10rem;
        height: 3px !important;
        width: 64px !important;
    }
    .p-line{
     position: relative;
     top: 18px !important;
     background: linear-gradient(to right, #00e0fe, #1107fe) !important;
     height: 5px !important;
     width: 70px !important;
     border: none;
     opacity: 7;
     display: flex;
     position: relative;
     left: 40rem;
     position: relative;
        left: 10rem;
        height: 3px !important;
        width: 64px !important;
      }
      .iconz-div{
        padding-left: 60px !important;
        padding-top: 25px;
        
      }
      .sec-icon{
        height: 35px;
        width: 35px;
        
      }
      .third-bg h1{
        font-size: 15px !important;
        padding-left: 22px;

      }
      .third-bg p {
        margin-top: -2px;
        position: relative;
        bottom: 7px;
        left: 3px;
      }
      .msg-btn{
        left: 12vh !important;
        margin-top: 8px !important;
      }
     .icon{
        margin-left: 18vh;
     }

}